<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML PRICE ML</title>
</head>
<body>

	<h1>Predict Home Price Analysis</h1>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="area_sf" placeholder="input" required="required" />
      <input type="text" name="bhk" placeholder="input" required="required" />
		  <input type="text" name="bath" placeholder="input" required="required" />
      <input type="text" name="location" placeholder="input" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   <br>
   <br>
   {{ text }}
</body>
</html>
